.form-field {
    height: 18px;
    display: block;
    margin: 10px;
    width: 200px;
}

.submit-btn {
    margin-top: 10px;
}

.url-name-container {
    margin-left: 10px;
    display: flex;
}
.url-name-container span {
    margin-top: 12px;
}

.new-url {
    background-color: rgb(66, 66, 66);
    color: white;
    padding: 3px;
    cursor: pointer;
    height: 15px;
    width: 33px;
    font-size: 14px;
    border-radius: 2px;

    margin-top: 6px;
}

.field {
    border: solid 1px #8f8f8f;
    width: 250px;
    height: 43px;
    padding: 5px;
    border-radius: 3px;
    margin: 8px;
}
.field span {
    color: #555555;
}

#txtt {
    margin-top: 5px;
    margin-right: 10px;
    border: none;
    outline: none;
}
label[for="txtt"] {
    border: solid 1px #8f8f8f;
    padding: 0 0 0 5px;
}

.save-btn {
    margin: 8px;
    padding: 7px;
    width: 260px;
    border: none;
    border-radius: 5px;
    background-color: #f3a034;
    color: white;
}