{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-full bg-[#FAFAFA]">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block metaredirector %}{% endblock %}
    {% block style %}{% endblock %}
    {% block copyscript %}{% endblock %}
    <title>Url Shortener</title>
</head>
<body {% block bodyscript %}{% endblock %}>
    {% block content %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</body>
</html>