{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block copyscript %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block bodyscript %}
    {% if from == "get_url" %}
        {% if url is not None %}
            onload="start_count('{{ url }}')"
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        {% if from == "home" %}
            <!--Home Page-->
            <h1>URL Shortener</h1>
            <form action="/" method="POST">
                {% csrf_token %}
                {% for form in forms %}
                    <!--Perform checks-->
                    {% if form.name == "url" %}
                        Paste a long URL, we'll shorten that.
                        {{ form }}
                    {% endif %}
                {% endfor %}
                <button class="submit-btn" type="submit">Shorten URL</button>
            </form>
        {% elif from == "post" %}
            <!--Page if the URL is entered-->
            <h1>Your URL is now shorten!</h1>
            <div>
                New Url: <span onclick="copyText('{{ urlname }}')" class="tooltip new-url">https://https://jabsga.herokuapp.com/{{ urlname }}<span>
                    <span class="tooltiptext">Copy to clipboard</span>
            </div>
            <p>To Url: {{ url }}</p><br>
            <br>
            <a href="/">Edit URL</a> or <a href="/">New URL</a>
        {% elif from == "get_url" %}
            <!--Getting the URL-->
            {% if url is not None %}
                You are being redirected to {{ url }} in <span id="countdown">3</span>
            {% else %}
                Sorry your URL does not exist
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    {% if from == "get_url" %}
        {% if url is not None %}
            <script src="{% static 'js/redirector.js' %}"></script>
        {% endif %}
    {% endif %}
{% endblock %}